In [4]:
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset

from nltk.tokenize import *
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer

,across,bear,fish,for,gleefully,hunt,in,river,swimming,the,there,to,was,went
0,1,1,0,0,0,0,0,1,1,1,1,0,1,0
1,0,1,1,1,1,1,1,1,0,2,0,1,0,1